@import "rsuite/dist/rsuite.css";

.nav-bar-header {
    display: flex;
    flex-direction: column;
    margin: 5rem;
}

.nav-bar-container {
    display: flex;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 16vw;
}